
:root {
    --mainColor: aqua;
    --secondaryColor:rgb(24, 37, 109);

    --borderColor:#c1c1c1;

    --mainText:#fff;
    --secondaryText:#4b5156;

    --themeDotBorder: #fff;

    --previewBg: rgb(24, 37, 109);
    --previewShadow: rgb(61, 163, 223);

    --btnColor: rgb(60, 68, 182);
}
